<div class="login">
    <div class="login-form">
        <form (submit)="login()">
            <p>Entra y chatea</p>
            <div class="inputs">
                <input type="email" name="email" [(ngModel)]="user.email" placeholder="Email" required>
                <input type="password" name="password" [(ngModel)]="user.password" placeholder="Contraseña" required minlength="6">
            </div>            
            <button type="submit">Entrar</button>
            <a href="">¿Olviaste la contraseña?</a>
        </form>
        <div class="error" *ngIf="error404">
            <p>Contraseña o email erroneo</p>
        </div>
        
    </div>
</div>


