<div>
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <img src="" alt="">
                        <div>
                            <div>
                                <span>Username</span>
                                <p>Online</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <div class="messages-wrapper">
                    <div class="left">
                        <div class="chat-bubble left">
                            <div class="message">
                                this is my message
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="chat-bubble right">
                            <div class="message">
                                this is my message
                            </div>
                        </div>
                    </div>
                    <div class="cf"></div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div>
            <div>
                <div class="inputRow">
                    <form>
                        <div>
                            <textarea name="message" id="" cols="30" rows="10"></textarea>
                        </div>
                        <div class="emojiDiv">
                            <button class="emojiBtn">Emoji</button>
                        </div>
                        <div class="emojiDiv">
                            <button>Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
