
<div class="signup-form">
    <form [formGroup]="form" class="register"
    (submit)="signUp()">
        <h2>Darse de alta:</h2>
        <div class="inputs">
            <input type="text" formControlName="username" placeholder="Nombre de usuario">
            <div class="error"
            *ngIf="form.get('username').invalid"> 
            El nombre tiene que tener entre 8 y 40 caracteres
            </div>
            <input type="text" formControlName="email" placeholder="Email">
            <div class="error"
            *ngIf="form.get('email').invalid &&  form.get('email').touched"> 
            Debes introducir un email</div>
    
            <input type="password" formControlName="password" placeholder="Contraseña">
            <div class="error"
            *ngIf="form.get('password').invalid &&  form.get('password').touched"> 
            La contraseña debe contener al menos un numero, una letra y ser mayor que 8 carácteres </div>
            </div>
            <div class="terms">
                <input class="checkbox" type="checkbox" formControlName="conditions" value="accept" required>
                <label for="conditions">Acepto las <a [routerLink]="['/usuario']">condiciones de uso</a> y
                <a [routerLink]="['/usuario']">la política de privacidad</a> </label>
                <div class="error"
            *ngIf="form.get('conditions').invalid"> 
            Debe aceptar los terminos y condiciones de uso.
            </div>
        </div>
        <button type="submit">Registrarse</button>
    </form>
    </div>

